﻿@model IEnumerable<AgendaCulturalGE.Models.Evento>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="main">


        <h1>MONTUFAR CULTURAL</h1>
        <hr>

        <h2>EVENTOS PRINCIPALES</h2>
        <p>Bienvenido a la página oficial de eventos culturales del cantón Montufar</p>
        <br />
        @foreach (var item in Model)
        {
            if (item.Id == Model.Max(i => i.Id))
            {
                <!-- Portfolio Gallery Grid -->
                <div class="content">
                    <img src="~/Resources/ImagenesEventos/@item.Imagen" alt="Bear" style="width:100%">
                    <h3>@item.Nombre</h3>
                    <p>
                        @item.Descripcion
                    </p>
                </div>
            }
        }
        <br />

            <div class="fila">
                @foreach (var item in Model)
                {
                    if (item.Id != Model.Max(i => i.Id))
                    {
                        
                        <div class="columna_galeria">
                            <div class="content">
                                <img src="~/Resources/ImagenesEventos/@item.Imagen" alt="Mountains" style="width:100%">
                                <h3>@item.Nombre</h3>
                                <p>Oct 17 - Nov 16, 2018</p>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
</div>