﻿* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.fila {
    margin: 8px -16px;
}

    /* Add padding BETWEEN each column (if you want) */
    .fila,
    .fila > .columna_galeria {
        padding: 8px;
    }

/* Create four equal columns that floats next to each other */
.columna_galeria {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.fila:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .columna_galeria {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .columna_galeria {
        width: 100%;
    }
}
